@import "../../styles//variables.scss";

.cart {
	margin: 25px 0px;
}

.cart__title {
	margin-bottom: 15px;
	font-size: $titleFz;
	color: $titleC;
	text-transform: uppercase;
	font-weight: bolder;
}

.cart__table {
	border: solid 1px $borderC;
}

.cart__tableHeader {
	display: flex;
	padding: 15px 30px;
	background-color: $red;
	color: $white;
}

.cart__tableItem {
	width: 40%;
}

.cart__tablePrice {
	width: 17.5%;
	text-align: center;
}

.cart__tableAmount {
	width: 19%;
	text-align: center;
}

.cart__tableTotal {
	width: 21%;
	text-align: center;
}

.cart__entries {
	padding: 15px 0px;
}

.cart__buttonsField {
	display: flex;
	justify-content: flex-end;
}

.cart__btnShell {
	margin-left: 12px;

	&:first-child {
		margin-left: 0px;
	}
}

.cart__btn {
	margin-top: 12px;
	padding: 10px 12px;
}

.cart__productEntry {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding: 0px 10px;

	&:last-child {
		margin-bottom: 0px;
	}
}

.productEntry {
	display: flex;

	> * {
		text-align: center;
	}
}

.productEntry__pictureShell {
	width: 15%;
	display: flex;
	justify-content: center;

	img {
		width: 95%;
		height: 120px;
		object-fit: cover;
		object-position: center;
	}
}

.productEntry__nameAndIdShell {
	width: 25%;
}

.productEntry__name {
	margin-bottom: 8px;
	color: $titleC;
	font-size: 22px;
}

.productEntry__id {
	color: $grey;
	font-size: 13px;
}

.productEntry__priceShell {
	width: 17.5%;
}

.productEntry__amountShell {
	width: 17.5%;
}

.productEntry__amountIncrement, .productEntry__amountDecrement {
	width: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 1px 1px 0px 0px rgb(190, 190, 190);
	background: center / 75% no-repeat $red;
	
	&:active {
		box-shadow: none;
	}
}

.productEntry__amountIncrement {
	background-image: url("../../images/icons/plus.png");
}

.productEntry__amount {
	padding: 0px 7px;
}

.productEntry__amountDecrement {
	background-image: url("../../images/icons/minus.png");
}

.productEntry__totalShell {
	width: 20%;
}

.productEntry__deleteButtonShell {
	width: 5%;
}

.productEntry__deleteButton {
	border: none;
	padding: 4px 12px;
	background: url('../../images//icons/cross.png') center no-repeat rgb(236, 236, 236);

	&:hover {
		background-color: rgb(218, 218, 218);
	}

	&:active {
		background-color: rgb(172, 172, 172);
	}
}

.cart__totalField {
	background-color: $red;
}

.cart__total {
	padding: 10px;
	text-align: end;
	color: $white;
}

@media (max-width: $md2) {
	.cart__tableHeader {
		display: none;
	}

	.productEntry {
		margin-bottom: 45px;
		flex-wrap: wrap;
		row-gap: 20px;

		& > * {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.productEntry__pictureShell {
		width: 50%;

		img {
			width: 50%;
			height: 160px;
		}
	}

	.productEntry__nameAndIdShell {
		width: 50%;
		flex-direction: column;
	}

	.productEntry__priceShell {
		width: 35%;
	}

	.productEntry__amountShell {
		width: 25%;
	}

	.productEntry__totalShell {
		width: 25%;
	}

	.productEntry__deleteButtonShell {
		width: 15%;
	}
}

@media (max-width: $md3) {

	.cart {
		margin: 15px 0px;
	}

	.productEntry {
		margin-bottom: 25px;
		flex-direction: column;
		row-gap: 15px;

		> * {
			width: 100%;
		}
	}
}