@import "../../styles/variables.scss";

.whitelist {
	margin: 25px 0px;
}

.whitelist__title {
	margin-bottom: 15px;
	font-size: $titleFz;
	color: $titleC;
	text-transform: uppercase;
	font-weight: bolder;
}

.whitelist__table {
	border: solid 1px $borderC;
}

.whitelist__tableHeader {
	display: flex;
	padding: 15px 30px;
	background-color: $red;
	color: $white;
}

.whitelist__tableItem {
	width: 40%;
}

.whitelist__tablePrice {
	width: 17.5%;
	text-align: center;
}

.whitelist__tableAmount {
	width: 40%;
	text-align: center;
}

.whitelist__productEntry {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding: 0px 10px;

	&:last-child {
		margin-bottom: 0px;
	}
}

.whitelist__entries {
	padding: 15px 0px;
}

.productEntry {
	display: flex;

	> * {
		text-align: center;
	}
}

.productEntry__pictureShell {
	width: 15%;
	display: flex;
	justify-content: center;

	img {
		width: 95%;
		height: 120px;
		object-fit: cover;
		object-position: center;
	}
}

.productEntry__nameAndIdShell {
	width: 25%;
}

.productEntry__name {
	margin-bottom: 8px;
	color: $titleC;
	font-size: 22px;
}

.productEntry__id {
	color: $grey;
	font-size: 13px;
}

.productEntry__priceShell {
	width: 17.5%;
}

.productEntry__deleteButtonShell {
	width: 5%;
}

.productEntry__addToCartShell {
	width: 37.5%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.productEntry__deleteButton {
	border: none;
	padding: 4px 12px;
	background: url('../../images//icons/cross.png') center no-repeat rgb(236, 236, 236);

	&:hover {
		background-color: rgb(218, 218, 218);
	}

	&:active {
		background-color: rgb(172, 172, 172);
	}
}

@media (max-width: $md2) {
	.whitelist__tableHeader {
		display: none;
	}

	.productEntry {
		margin-bottom: 45px;
		flex-wrap: wrap;
		row-gap: 20px;

		& > * {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	.productEntry__pictureShell {
		width: 50%;

		img {
			width: 50%;
			height: 160px;
		}
	}

	.productEntry__nameAndIdShell {
		width: 50%;
		flex-direction: column;
	}

	.productEntry__priceShell {
		width: 35%;
	}

	.productEntry__amountShell {
		width: 50%;
	}

	.productEntry__deleteButtonShell {
		width: 15%;
	}
}

@media (max-width: $md3) {

	.whitelist {
		margin: 15px 0px;
	}

	.productEntry {
		margin-bottom: 25px;
		flex-direction: column;
		row-gap: 15px;

		> * {
			width: 100%;
		}
	}
}