@import "../../styles//variables.scss";

.category {
	margin: 30px 0px;
	box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
	background-color: $white;
}

.category__name, .category__sortOptions {
	margin: 30px 0px 25px 0px;
}

.category__header {
	position: relative;
	margin-bottom: 25px;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;

	&::after {
		content: "";
		position: absolute;
		width: calc(100% - 40px);
		height: 1px;
		bottom: 0px;
		left: 20px;
		background-color: $borderC;
	}
}

.category__name {
	padding: 0px 5px;
	font-size: $titleFz;
	font-weight: bolder;
	text-transform: uppercase;
	color: $titleC;
}

.category__sortOptions {
	display: flex;
}

.category__sortOption {
	padding: 0px 10px;
	list-style: none;
	font-size: $defaultFz;
	color: $fontC;
	cursor: pointer;

	&:first-child {
		padding-left: 0px;
	}

	&:last-child {
		padding-right: 0px;
	}

	&:hover {
		color: $grey;
	}

	&_active {
		text-decoration: underline;
	}
}

.category__itemsList {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 13px;
}

.category__item {
	width: 25%;
	box-sizing: border-box;
	margin-bottom: 30px;
	padding: 0px 13px;
	list-style: none;
	display: flex;
	justify-content: center;
}

.category__product {
	width: 100%;
	box-sizing: border-box;
}

.category__buttonField {
	text-align: center;
}

.category__button {
	margin-top: 5px;
	margin-bottom: 25px;
	padding: 7.5px 12.5px;
	font-size: 15.5px;
}

.category__selectSortOptions {
	display: none;
	padding: 5px;
	align-self: center;
	color: $fontC;
	font-size: $defaultFz;
}

@media(max-width: $md0) {
	.category__sortOptions {
		display: none;
	}

	.category__selectSortOptions {
		display: block;
	}

	.category__item {
		flex-basis: 33.333%;
	}
}

@media(max-width: $md3) {
	.category__name {
		font-size: $titleFzSmaller;
	}

	.category {
		margin: 25px 0px;
	}

	.category__selectSortOptions {
		font-size: $defaultFzSmaller;
	}

	.category__name, .category__sortOptions {
		margin: 25px 0px 20px 0px;
	}

	.category__itemsList {
		padding: 0px 10px;
	}

	.category__item {
		flex-basis: 50%;
	}

	.category__product {
		margin: 0px 10px;
	}
}

@media(max-width: $md4) {
	.category__header {
		margin-bottom: 20px;
		padding: 0px 10px;
		flex-direction: column;

		&::after {
			width: calc(100% - 20px);
			left: 10px;
		}
	}

	.category__name {
		text-align: center;
	}

	.category__selectSortOptions {
		margin-bottom: 10px;
		padding: 4px;
	}

	.category__item {
		flex-basis: 100%;
		margin-bottom: 15px;
	}
}