@import '../../styles/variables.scss';

.navbar {
	background-color: $red;
}

.navbar__items {
	position: relative;
	margin: 0px -10px;
	display: flex;
	justify-content: space-between;
}

.navbar__hiddenMenu {}

.hiddenMenu {
	padding: 10px 10px;
	list-style: none;
	display: flex;
	align-items: center;
}

.hiddenMenu__modal {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 8;
}

.hiddenMenu__modal_visible {
	display: block;
}

.hiddenMenu__burger {
	width: 27px;
	height: 20px;
	z-index: 10;
	margin-left: 5px;
}

.hiddenMenu__body {
	position: absolute;
	z-index: 9;
	top: 0px;
	left: 0px;
	width: 0px;
	max-height: 0px;
	padding-top: 50px;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	box-shadow: 3px 2px 6px 0px rgb(68, 59, 59);
	background-color: $red;
	user-select: none;
}

.hiddenMenu__body_visible {
	width: 100%;
	max-height: 9999px;
	border: solid rgb(51, 32, 32) 1px;
	animation: menuOpenHeight 0.8s linear, menuOpenWidth 0.3s ease-in;
}

@keyframes menuOpenWidth {
	0% {
		width: 0px;
	}
	100% {
		width: 100%;
	}
}

@keyframes menuOpenHeight {
	0% {
		max-height: 0px;
	}
	30% {
		max-height: 20px;
	}
	100% {
		max-height: 999px;
	}
}

.hiddenMenu__folder {
	padding: 0px 30px 30px 30px;
}

.hiddenMenu__folder {}

.hiddenMenu__title {
	margin-bottom: 10px;
	color: $white;
	font-weight: bolder;
	font-size: $titleFzSmall;
	text-transform: uppercase;
	line-height: 1.1em;
}

.hiddenMenu__category {
	margin-bottom: 5px;
	padding-left: 5px;
	list-style: none;
	color: $white;
	font-size: $defaultFz;
	line-height: 1.1em;

	&:hover {
		text-decoration: underline;
		color: rgb(233, 224, 224);
		transition-duration: 0.2s;
	}

	&:active {
		color: rgb(173, 173, 173);
	}
}

.hiddenMenu__link {}

.navbar__item {
	flex-grow: 1;
	padding: 20px 10px;
	list-style: none;
	transition-property: background-color;
	transition-duration: 0.2s;
	text-transform: uppercase;
	text-align: center;
	color: $fontCLight;
	text-decoration: none;

	&:hover {
		background-color: #e60f32;
		transition-duration: 0.2s;
	}

	&:active {
		background-color: $darkerred;
		transition-duration: 0.05s;
	}
}

@media(max-width: $md1) {
	.navbar {
		display: flex;

		:global(.content) {
			flex: 1;
			display: flex;
		}
	}

	.navbar__items {
		flex: 1;
		flex-direction: column;
	}

	.navbar__item {
		display: none;
	}

	.hiddenMenu__modal {
		display: none;
	}

	.hiddenMenu__burger {
		display: none;
	}

	.hiddenMenu__body {
		width: 100%;
		max-height: 9999px;
		box-shadow: none;
	}

	.hiddenMenu__folder {
		box-sizing: border-box;
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.hiddenMenu__title {
		font-size: 24px;
		text-align: center;
	}

	.hiddenMenu__category {
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 1.2em;
		text-align: center;
	}
}

@media (max-width: $md2) {
	.hiddenMenu__title {
		font-size: 21px;
	}

	.hiddenMenu__category {
		font-size: 16px;
	}
}

@media (max-width: $md3) {
	.hiddenMenu__body {
		padding-top: 30px;
	}

	.hiddenMenu__folder {
		width: 100%;
		padding-bottom: 20px;
	}

	.hiddenMenu__title {
		font-size: 18px;
	}

	.hiddenMenu__category {
		font-size: 16px;
		margin-bottom: 7.5px;
	}
}

@media(max-width: $md4) {
	.hiddenMenu__body {
		padding-top: 20px;
	}

	.navbar__item {
		padding: 15px 10px;
		font-size: 0.8em;
	}

	.hiddenMenu__title {
		font-size: 16px;
	}

	.hiddenMenu__category {
		font-size: 14px;
	}
}