@import './nullstyle.scss';
@import '../fonts/lato/lato.css';
@import './variables.scss';

body {
	font-family: $defFont;
	background-color: $bgColor;
	overflow-x: hidden;
}

#root {
	height: 100%;
}

.content {
	max-width: 1190px;
	margin: 0px auto;
	padding: 0px 10px;
}

.nav-link {
	text-decoration: none;
	color: inherit;
}

.text-center {
	text-align: center;
}

.btn {
	border: none;
	border-radius: 15px;
	box-shadow: 1px 1.5px 0px 0px rgb(206, 206, 206);
	background-color: $faintRed;
	color: $fontCLight;
	font-weight: bold;

	&:hover {
		transition-duration: 0.2s;
		background-color: #f7213d;
	}

	&:active {
		position: relative;
		top: 1px;
		box-shadow: none;
	}
}