@import './nullstyle.scss';
@import '../fonts/lato/lato.css';
@import './variables.scss';

body {
	font-family: $defFont;
	background-color: $bgColor;
	overflow-x: hidden;
}

#root {
	height: 100%;
}

.content {
	max-width: 1190px;
	margin: 0px auto;
	padding: 0px 10px;
}

.nav-link {
	text-decoration: none;
	color: inherit;
}

.text-center {
	text-align: center;
}

.btn {
	border: none;
	border-radius: 15px;
	background-color: $faintRed;
	color: $fontCLight;
	font-weight: bold;
}