@import './nullstyle.scss';
@import '../fonts/lato/lato.css';
@import './variables.scss';

body {
	font-family: $defFont;
	background-color: $bgColor;
}

#root {
	height: 100%;
}

.content {
	max-width: 1190px;
	margin: 0px auto;
	padding: 0px 10px;
}

.nav-link {
	text-decoration: none;
	color: inherit;
}