$black: #1f1e1e;
$darkblack: #000000;
$lightblack: #222222;

$darkgrey: #3d3d3d;
$grey: #636363;
$lightergrey: #b6b6b6;
$lightgrey: #a7a7a7;

$red: #f10e34;
$faintRed: #f22f49;
$darkerred: #c50e2d;

$white: #fff;

$borderC: #eaeaea;

$bgColor: #f3f3f3;
$titleC: $black;
$fontC: $darkgrey;
$fontCLight: $white;

$titleFz: 22px;
$titleFzSmaller: 18.5px; //md3
$titleFzSmall: 16px;
$defaultFz: 15px;
$defaultFzSmaller: 14px;

$defFont: 'Lato';

$md0: 1279px;
$md1: 1024px;
$md2: 768px;
$md3: 580px;
$md4: 450px;
$md5: 360px;