$black: #1f1e1e;
$darkblack: #000000;
$lightblack: #222222;

$darkgrey: #3d3d3d;
$grey: #636363;
$lightergrey: #b6b6b6;
$lightgrey: #a7a7a7;

$red: #f10e34;

$titleC: $black;
$fontC: $darkgrey;

$defFont: 'Lato';