@import "../../styles/variables.scss";

.main__body {
	display: flex;
}

.main__aside, .main__body {
	box-sizing: border-box;
}

.main__aside {
	flex: 1 1 27%;
	padding-right: 20px;
}

.main__content {
	flex: 1 1 73%;
	padding-left: 20px;
}

@media(max-width: $md1) {
	.main__aside {
		display: none;
	}

	.main__content {
		padding-left: 0px;
	}
}