@import "../../styles/variables.scss";

.main__body {
	display: flex;
}

.main__aside, .main__body {
	box-sizing: border-box;
}

.main__aside {
	width: 27%;
	box-sizing: border-box;
	padding-right: 20px;
}

.main__content {
	width: 73%;
	box-sizing: border-box;
	padding-left: 20px;
}

@media(max-width: $md1) {
	.main__aside {
		display: none;
	}

	.main__content {
		padding-left: 0px;
		width: 100%;
	}
}