@import "../../styles/variables.scss";

.checkout {
	margin: 30px 0px;
}

.checkout__modal {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(185, 185, 185, 0.322);
}

.modal__body {
	width: 600px;
	max-height: 80%;
	margin: 0px 20px;
	border: solid $borderC 1px;
	padding: 15px;
	overflow-x: hidden;
	overflow-y: auto;
	box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
	background-color: white;
}

.modal__title {
	margin-bottom: 20px;
	font-size: $titleFz;
	color: $titleC;
}

.modal__list {
	margin-bottom: 25px;
	padding: 0px 10px;
}

.modal__listHeader {
	margin-bottom: 15px;
}

.modal__listItem {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0px;
	}
}

.item {
	display: flex;
	list-style: none;
}

.item__item {
	width: 60%;
	text-align: center;
}

.item__picture {
	width: 30%;
}

.item__img {
	width: 90%;
	height: 150px;
	object-fit: cover;
	object-position: center;
}

.item__data {
	width: 30%;
	box-sizing: border-box;
}

.item__name {
	margin-bottom: 7.5px;
	color: $titleC;
	font-size: $titleFz;
}

.item__webID {
	color: $fontC;
	font-size: $defaultFzSmaller;
}

.item__amount {
	width: 20%;
	text-align: center;
}

.item__total {
	width: 20%;
	text-align: center;
}

.item__label {
	display: none;
	margin-right: 0.8em;
}

.modal__entry {
	margin-bottom: 12px;
}

.entry {
	display: flex;
	justify-content: space-between;
}

.entry__name {
	font-weight: bolder;
}

.modal__controls {
	margin-top: 25px;
	display: flex;
	justify-content: flex-end;
}

.modal__control {
	margin-right: 15px;

	&:last-child {
		margin-right: 0px;
	}
}

.checkout__errors {
	margin-bottom: 10px;
	border: solid $red 2px;
	background-color: rgb(255, 206, 206);
	text-align: center;
}

.checkout__errorMessage {
	padding: 7.5px 10px;
}

.checkout__title {
	margin-bottom: 10px;
	font-size: $titleFz;
	color: $titleC;
}

.checkout__fieldset {
	margin-bottom: 20px;
}

.checkout__userData {
	margin: 0px -20px;
	display: flex;
	flex-wrap: wrap;
}

.checkout__field {
	width: 50%;
	box-sizing: border-box;
	margin-bottom: 12px;
	padding: 0px 20px;
}

.checkout__input {
	width: 100%;
	box-sizing: border-box;
	padding: 7.5px 5px;
}

.checkout__input_invalid {
	outline: solid $red 2px;
}

.checkout__deliveryMethod {
	display: flex;
	margin: 0px -10px 20px -10px;
}

.checkout__deliveryMethodOption {
	width: 50%;
	border: solid $borderC 1px;
	margin: 0px 10px;
}

.deliveryMethodOption {
	position: relative;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: $white;

	&::before {
		content: "";
		position: absolute;
		top: calc(50% - 8px);
		right: 25px;
		width: 16px;
		height: 16px;
		border: solid $red 2px;
		border-radius: 50%;
	}

	&_active::after {
		content: "";
		position: absolute;
		top: calc(50% - 4px);
		right: 29px;
		width: 8px;
		height: 8px;
		border: solid $red 2px;
		border-radius: 50%;
		background-color: $red;
	}
}

.deliveryMethodOption__text {
	display: inline-block;
	padding: 25px 35px 25px 20px;
	color: $darkgrey;
	font-size: 17px;
	background: center right no-repeat;
}

.deliveryMethodOption_pickup {
	background-image: url("../../images/icons/shop.png");
}

.deliveryMethodOption_delivery {
	background-image: url("../../images/icons/delivery.png");
}

.checkout__pickup {}

.pickup {}

.pickup__select {
	margin-bottom: 25px;
	padding: 7.5px 5px;
}

.pickup__shopDetails {
	display: flex;
	border: solid $borderC 1px;
	background-color: $white;
}

.pickup__shopInfo {
	width: 50%;
	box-sizing: border-box;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pickup__shopName {
	margin-bottom: 15px;
	color: $titleC;
	font-size: $titleFzSmaller;
}

.pickup__shopSchedule, .pickup__shopPhone {
	margin-bottom: 10px;
	padding-left: 4px;
	line-height: 1.2em;
	color: $fontC;
}

.pickup__map {
	width: 50%;

	img {
		width: 100%;
		height: 100%;
	}
}

.checkout__delivery {
	margin: 0px -20px;
	display: flex;
	flex-wrap: wrap;
}

.checkout__payment {}

.payment {}

.payment__methods {
	display: flex;
	margin: 0px -10px 20px -10px;
}

.payment__method {
	position: relative;
	width: 50%;
	box-sizing: border-box;
	margin: 0px 10px;
	border: solid $borderC 1px;
	border-radius: 5px;
	background-color: $white;

	&::before {
		content: "";
		position: absolute;
		top: calc(50% - 8px);
		right: 25px;
		width: 16px;
		height: 16px;
		border: solid $red 2px;
		border-radius: 50%;
	}

	&_active::after {
		content: "";
		position: absolute;
		top: calc(50% - 4px);
		right: 29px;
		width: 8px;
		height: 8px;
		border: solid $red 2px;
		border-radius: 50%;
		background-color: $red;
	}
}

.payment__methodText {
	display: inline-block;
	padding: 25px 35px 25px 20px;
	color: $darkgrey;
	font-size: 17px;
}

.payment__options {
	border-radius: 5px;
	background-color: $white;
}

.payment__option {
	position: relative;
	border-bottom: solid $borderC 1px;
	padding: 15px 10px;
	list-style: none;

	&::before {
		content: "";
		position: absolute;
		top: calc(50% - 8px);
		right: 25px;
		width: 16px;
		height: 16px;
		border: solid $red 2px;
		border-radius: 50%;
	}

	&_active::after {
		content: "";
		position: absolute;
		top: calc(50% - 4px);
		right: 29px;
		width: 8px;
		height: 8px;
		border: solid $red 2px;
		border-radius: 50%;
		background-color: $red;
	}
}

.payment__optionText {
	padding-right: 46px;
	display: flex;
	align-items: center;
	color: $fontC;
	font-size: 17px;
}

.payment__optionIcon {
	height: 24px;
	margin-right: 12px;

	&:first-child {
		margin-left: 12px;
	}

	img {
		max-height: 100%;
		object-fit: contain;
	}
}

.checkout__basement {
	display: flex;
	justify-content: flex-end;
}

.checkout__btn {
	border-radius: 10px !important;
	padding: 10px 16px;

	&:disabled {
		box-shadow: none;
	}

	&:disabled:active {
		position: static;
	}

	&:disabled:hover {
		background-color: $faintRed;
	}
}

.emptyCart {
	margin: 20px 0px;
	text-align: center;
	font-size: $titleFzSmaller;
	color: $fontC;
}

@media (max-width: $md1) {
	.pickup__shopDetails {
		flex-direction: column;
	}

	.pickup__shopInfo, .pickup__map {
		width: auto;
	}

	.pickup__shopInfo {
		margin: 10px 0px;
		text-align: center;
	}
	
	.pickup__select {
		width: 100%;
	}
}

@media (max-width: $md2) {
	.modal__title {
		text-align: center;
	}

	.modal__list {
		margin-bottom: 30px;
	}

	.modal__controls {
		justify-content: center;
		margin: 0px -15px;
	}

	.modal__control {
		margin: 0px 15px;
	}

	.modal__listHeader {
		display: none;
	}

	.item {
		margin-bottom: 20px;
		flex-wrap: wrap;
	}

	.item__picture {
		width: 100%;
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
	}

	.item__data {
		width: 100%;
		margin-bottom: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.item__img {
		width: 60%;
		height: 260px;
	}

	.item__amount, .item__total {
		width: 50%;
	}

	.item__label {
		display: inline;
	}
}

@media (max-width: $md3) {
	.checkout {
		margin: 15px 0px;
	}

	.checkout__userData {
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.checkout__field {
		width: 100%;
	}

	.payment__optionText {
		flex-wrap: wrap;
		row-gap: 7.5px;
	}

	.modal__title {
		font-size: $titleFzSmaller;
	}

	.item__img {
		height: 230px;
	}

	.item__amount, .item__total {
		width: 100%;
		margin-bottom: 10px;
	}

	.item__webId {
		font-size: $defaultFzSmaller;
	}
}

@media (max-width: $md4) {
	.checkout__deliveryMethod, .payment__methods {
		flex-direction: column;
	}

	.checkout__deliveryMethodOption, .payment__method {
		width: auto;
	}

	.checkout__title {
		font-size: $titleFzSmaller;
	}

	.checkout__fieldset {
		margin-bottom: 10px;
	}

	.pickup__shopName {
		font-size: $titleFzSmall;
	}

	.pickup__shopSchedule, .pickup__shopPhone, .pickup__deliveryDate  {
		font-size: $defaultFzSmaller;
	}

	.deliveryMethodOption__text, .payment__methodText, .payment__optionText {
		font-size: $defaultFz;
	}

	.item__img {
		width: 80%;
		height: 210px;
	}

	.item__data {
		margin-bottom: 10px;
	}

	.item__amount, .item__total {
		margin-bottom: 5px;
	}
}

@media (max-width: $md5) {
	.item__img {
		width: 100%;
		height: 200px;
	}
}