@import "../../styles/variables.scss";

.nav {
	background-color: $white;
	user-select: none;
}

.nav__item {
	position: relative;
	list-style: none;

	&::after {
		content: '';
		width: calc(100% - 30px);
		height: 1px;
		position: absolute;
		bottom: 0px;
		left: 15px;
		background-color: $borderC;
	}
}

.folder {

}

.folder__profile {
	position: relative;
	transition-property: background-color;
	transition-duration: 0.3s;

	&:active {
		background-color: rgb(214, 214, 214);
		transition-property: background-color;
		transition-duration: 0.1s;
	}
}

.folder__name {
	display: block;
	padding: 17px 10px 18px 55px;
	font-size: $defaultFz;
	color: $lightblack;

	&:hover {
		color: $darkgrey;
	}
}

.folder__isOpen {
	position: absolute;
	width: 13px;
	height: 13px;
	top: calc(50% - 6.5px);
	left: 25px;
	background: url("../../images/icons/bullet.png");
	transition-duration: 0.2s;
}

.folder__isOpen_true {
	transform: rotate(90deg);
	transition-duration: 0.3s;
}

.folder__items {
	visibility: hidden;
	opacity: 0;
	max-height: 0px;
	transition: max-height 0.3s ease-out 0.1s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.folder__items_visible {
	max-height: 999px;
	visibility: visible;
	opacity: 1;
	transition-property: max-height, visibility, opacity;
	transition-duration: 0.8s, 0.3s, 0.3s;
	transition-timing-function: ease-in;
	transition-delay: 0s, 0.1s, 0.1s;
}

.folder__item {
	list-style: none;
	padding: 12px 10px 12px 60px;
	font-size: $defaultFzSmaller;
	color: $lightblack;
	transition-property: background-color;
	transition-duration: 0.3s;

	&:first-child {
		padding-top: 5px;
	}

	&:hover {
		color: $darkgrey;
		text-decoration: underline;
	}

	&:active {
		background-color: rgb(214, 214, 214);
		transition-property: background-color;
		transition-duration: 0.1s;
	}
}