@import '../../styles/variables.scss';

.header {
	background-color: $lightblack;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	align-items: center;
}

.header__content {
	flex-basis: 60%;
}

.header__links {
	margin: 20px -20px;
	justify-content: flex-end;
}

.header__items {
	display: flex;
	margin-bottom: 20px;
}

.header__search {
	flex: 1;
}

.header__cart {
	margin: 0px 15px 0px 40px;
}

.header__burger {
	display: none;
	z-index: 10;
	align-self: center;
}

@media(max-width: $md1) {
	.header__body {
		padding: 12px;
	}

	.header__burger {
		display: block;
	}

	.header__content {
		display: none;

		&_active {
			position: fixed;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			overflow-y: scroll;
			background-color: $lightblack;
		}
	}

	.header__nav {
		width: 100%;
		flex: 1;
	}

	.header__links {
		max-width: 100%;
		margin-bottom: 45px;
		justify-content: center;
	}

	.header__items {
		padding: 0px 25px;
		margin-bottom: 50px;
	}
}

@media(max-width: $md3) {
	.header__links {
		margin-top: 65px;
	}
}

@media(max-width: $md4) {
	.header__links {
		margin-bottom: 25px;
		font-size: 13px;
	}

	.header__items {
		margin-bottom: 5px;
		flex-direction: column;
	}

	.header__cart {
		margin: 15px 0px;
		align-self: center;
	}
}