@import "../../styles/variables.scss";

.editPassword {
	margin: 30px 0px;
	box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
	background-color: $white;
}

.editPassword__title {
	padding: 15px;
	font-size: $titleFz;
	font-weight: bolder;
	text-transform: uppercase;
	color: $titleC;
}

.editPassword__errorMessage {
	width: 50%;
	margin: 0px auto 15px auto;
	border: solid $red 2px;
	padding: 12px;
	font-size: $defaultFz;
	background-color: rgb(255, 242, 242);
	text-align: center;
}

.editPassword__form {
	max-width: 350px;
	margin: 0px auto;
	padding: 0px 20px 20px 20px;
}

.form__fields {
	margin-bottom: 15px;
}

.form__field {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0px;
	}
}

.form__input {
	width: 100%;
	box-sizing: border-box;
	padding: 7.5px 10px;
	color: $fontC;
	font-size: $defaultFz;

	&:disabled {
		border: solid rgb(143, 143, 143) 1px;
		background-color: rgb(243, 243, 243);
	}
}

.form__controls {
	display: flex;
	justify-content: flex-end;
}

.form__control {}

.editPassword__btn {
	border: none;
	border-radius: 7px;
	padding: 7.5px 12px;
	box-shadow: 1px 1.5px 0px 0px rgb(206, 206, 206);
	background-color: $faintRed;
	color: $fontCLight;
	font-weight: bold;

	&:hover {
		transition-duration: 0.2s;
		background-color: #f7213d;
	}

	&:active {
		position: relative;
		top: 1px;
		box-shadow: none;
	}

	&:disabled {
		box-shadow: none;
	}

	&:disabled:active {
		position: static;
	}

	&:disabled:hover {
		background-color: $faintRed;
	}
}